<div class="estilo">
  <h1>
    {{user.sala}}
  </h1>
</div>

<div class="fila">
  <canvas #canvas width="1000" height="700" class=""></canvas>
  <div>
    <textarea rows="50" cols="10" class="pre-scrollable form-control" #conversacionArea style="resize: none;" disabled>{{mensajes}}
    </textarea>
  <mat-form-field>
    <input matInput [(ngModel)]="mensajeTexto" placeholder="Mensaje" type="text" autocomplete="off" (keydown.enter)="sendMessage()">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="sendMessage()" class="boton">Enviar</button>
    <br/>
    <input [(ngModel)]="user.color"type="color" name="favcolor">
    <br/>
    <br/>
    <button mat-raised-button color="primary" (click)="bajarTam()" class="boton">-</button>
    {{user.tam}}
    <button mat-raised-button color="primary" (click)="subirTam()" class="boton">+</button>
    <br />
    <br/>
    <button mat-raised-button color="primary" (click)="borrar()" class="boton">Borrar</button>
    <br>
  </div>
</div>
